<div class="row">

  <% for (product of products) { %>

    <!-- Thumbnail Label -->

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="thumbnail" title="">

          <img class="img-responsive" src="<%= product.img %>" alt="Harry Potter">
          <div class="caption">

            <h3> <%= product.title %>  </h3>

            <p class="product-desc">
               <%= product.desc %>
            </p>

            <div class="clearfix">

              <p>
                <p class="pull-left product-price">$<%= product.price %></p>

                <a href="#" class="add-cart btn btn-success pull-right" role="button">Add to cart</a>

              </p>
            </div>
          </div>
        </div>

      </div>

  <% } %>

  </div>
