<!doctype html>
<html lang="en">
    <head>
          <%- include('../partials/head') %>
    </head>
    <body>
      <%- include('../partials/header') %>
      <div class="container">
        <div class="row">

          <h4>User Profile</h4>

        </div>
      </div>
      <%- include('../partials/scripts') %>
    </body>
</html>
