.thumbnail .product-desc {
  color: #757575;
  height: 30px;
  overflow: hidden;
}

.thumbnail .product-price {
  font-weight: bold;
  font-size: 16px;
}

.thumbnail > img {
  max-width: 90%;
  height: 300px;
  transition: all 0.5s ease-out;
}
.thumbnail > img:hover {
  transform: scale(1.15);
  transition: all 0.5s ease-in;
}

.thumbnail > .caption {
  height: 190px;
}
.thumbnail > .caption > h3 {
  font-size: 16px;
  min-height: 50px;
  overflow: hidden;
}
